<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="" />
<title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE">AbutresNet</title>

<!-- CSS  -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet" />
<link th:href="@{/vendor/materialize/css/materialize.min.css}" type="text/css" rel="stylesheet"
	media="screen,projection" />
<link th:href="@{/css/style.css}" type="text/css" rel="stylesheet"
	media="screen,projection" />
</head>
<body>
	<header th:replace="/fragments/header :: header"></header>
	<main>
		<div class="section">
			<!-- Conteudo dinamico -->
			<div layout:fragment="page_content"></div>
		</div>		
	</main>
	<div th:replace="/fragments/footer :: footer"></div>
	<!--  Scripts-->
	<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script th:src="@{/js/init.js}"></script>
	<script th:src="@{/vendor/materialize/js/materialize.min.js}"></script>
	<script type="text/javascript">
		$(document).ready(function(e){
			$('.sidenav').sidenav();
			$('.dropdown-trigger').dropdown({				
				coverTrigger:false,
				inDuration:1000,
				constrainWidth: false			
			});
		});
			       
	</script>
	<th:block layout:fragment="scripts"></th:block>

</body>
</html>