<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layoutPadrao}">
<head>
<title>Sedes</title>
</head>
<body>
	<section class="section" layout:fragment="title" id="title">
		<h5>Adicionar</h5>
	</section>
	<div layout:fragment="page_content" id="page_content">
	<div class="row">				
			<form class="col s12" th:object="${sede}"
				th:action="@{/sedes/adicionar}" method="POST">
				<div th:replace="/fragments/mensagemValidacao :: msg_error"></div>		
				
				<input type="hidden" th:field="*{id}"/>
				 <ul id="tabs" class="tabs">
					<li class="tab col s3"><a class="active" href="#aba-01">Dados Gerais</a></li>
					<li class="tab col s3"><a  href="#aba-02">Endereço</a></li>
					<li class="tab col s3"><a href="#aba-03">Contatos</a></li>
				</ul>
				<div id="aba-01" class="col s12">
					<div class="section">
						<h5>Dados Gerais</h5>	
						<div class="row">
							<div class="input-field col s12 m6">
								<div class="card grey lighten-5">
						            <div class="card-image">
						              <img th:src="@{/}">
						            </div>
						            <div class="card-action">
						              	<div class="file-field input-field">
										      <div class="btn">
										        <span>File</span>
										        <input type="file" th:field="*{fotoLogoSede}">
										      </div>
										      <div class="file-path-wrapper">
										        <input class="file-path validate" type="text" placeholder="Upload da imagem da sede">
										      </div>
								    	</div>  
						            </div>
								</div>
							</div>						
					    </div>					    
						<div class="row">
							<div class="input-field col s2">
								<input id="dataFundacao" type="date" class="datepicker" th:field="*{dataFundacao}">
								<label for="dataFundacao" >Data de Fundação</label>
							</div>
						</div>								
						<div class="row">
							<div class="input-field col s12">
								<input id="nome" type="text" class="validate" th:field="*{nome}">
								<label for="nome">Nome</label>
							</div>
						</div>
					</div>
				</div>
				<div id="aba-02" class="col s12">
					<div class="section">
						<h5>Endereço</h5>			
						
						<div class="row">
							<div class="input-field col s12">
								<input id="logradouro" type="text" class="validate" th:field="*{endereco.logradouro}">
								<label for="logradouro">Logradouro</label>
							</div>
						</div>					
						<div class="row">
							<div class="input-field col s3">
								<select id="estado">
								  <option value="">Escolha uma opção</option>
								  <option th:each="estado : ${listaTodosEstados} " th:value="${estado.id}" th:text="${estado.nome}"></option>
								</select>
								<label for="estado">Estado</label>	
							</div>						
							<div class="input-field col s4">
								<select id="cidade">
								  <option value="">Escolha uma opção</option>
								  <option th:each="cidade : ${listaTodosCidades} " th:value="${cidade.id}" th:text="${cidade.nome}"></option>
								</select>
								<label for="cidade">Cidade</label>	
							</div>
						</div>
						<div class="row">
							<div class="input-field col s2">
								<input id="numero" type="text" class="validate" th:field="*{endereco.numero}">
								<label for="numero">Número</label>
							</div>
							<div class="input-field col s6">
								<input id="complemento" type="text" class="validate" th:field="*{endereco.complemento}">
								<label for="complemento">Complemento</label>
							</div>
						</div>
						<div class="row">
							<div class="input-field col s6">
								<input id="bairro" type="text" class="validate" th:field="*{endereco.bairro}">
								<label for="bairro">Bairro</label>
							</div>
							<div class="input-field col s6">
								<input id="cep" type="text" class="validate" th:field="*{endereco.cep}">
								<label for="cep">CEP</label>
							</div>
						</div>
					</div>
				</div>
				<div id="aba-03" class="col s12">			
					<div class="section">
						<h5>Contatos</h5>
						<div class="row">
							<div class="input-field col s6">
								<input id="telefone" type="text" class="validate phone_with_ddd" th:field="*{telefone}">
								<label for="telefone">Principal</label>
							</div>
							<div class="input-field col s6">
								<input id="telefone" type="text" class="validate phone_with_ddd" th:field="*{telefone}">
								<label for="telefone">Secundário</label>
							</div>
						</div>					
					</div>
				</div>
				<div>
					<button class="btn waves-effect waves-light" type="submit"
						name="action">
						Salvar <i class="material-icons right">save</i>
					</button>
				</div>
			</form>
		</div>
	</div>
	<div layout:fragment="page_actions" id="page_actions">
		<a th:href="@{/sedes}" class="waves-effect waves-light btn"><i
			class="material-icons left">replay</i>Voltar</a>
	</div>
</body>
</html>