<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layoutPadrao}">
<head>
<title>Membros</title>
</head>
<body>
	<section class="section" layout:fragment="title" id="title">
		<h5>Adicionar Membro</h5>
	</section>
	<div layout:fragment="page_content" id="page_content">
		<div class="row">
			<form class="col s12" th:object="${membro}"
				th:action="@{/membros/adicionar}" method="POST">
				<div th:replace="/fragments/mensagemValidacao :: msg_error"></div>

				<input type="hidden" th:field="*{id}" />
				<div class="section">
					<h5>Dados pessoais</h5>
					<div class="row">
						<div class="input-field col s6">
							<i class="material-icons prefix"></i><input
								id="nome" type="text" class="validate" th:field="*{nome}"
								th:errorclass="invalid"> <label for="nome">Nome</label>
						</div>
						<div class="input-field col s6">
							<input id="apelido" type="text" class="validate"
								th:field="*{apelido}" th:errorclass="invalid"> <label
								for="apelido">Apelido</label>
						</div>
					</div>
					<div class="row">
						<div class="input-field col s3">
							<i class="material-icons prefix"></i>
							<label for="dataNascimento">Data de Nascimento</label>
						</div>
						<div class="input-field col s2">
							<input id="dataNascimento" type="date" class="validate"
								th:field="*{dataNascimento}" th:errorclass="invalid">
						</div>
					</div>
					<div class="row">
						<div class="input-field col s6">
								<i class="material-icons prefix"></i><input
								id="ocupacao" type="text" class="validate" th:field="*{ocupacao}"
								th:errorclass="invalid"> <label for="nome">Ocupação</label>
						</div>
						<div class="input-field col s6">
							<input
								id="email" type="email" class="validate" th:field="*{email}"
								th:errorclass="invalid"> <label for="email">E-mail</label>
						</div>
					</div>
					
					<div class="row">
						<div class="input-field col s6">
							<i class="material-icons prefix"></i> <input id="cnh" type="number"
								class="validate" th:field="*{cnh}" /><label for="cnh">CNH</label>
						</div>
						<div class="input-field col s6">
							<input id="veiculo"
								type="text" class="validate" th:field="*{veiculo}" />
								<label for="veiculo">Veiculo</label> 
						</div>
					</div>
					
				</div>
				<div class="divider"></div>
					<div class="section">
						<h5>Endereço</h5>
						<div class="row">
							<div class="input-field col s6">
								<i class="material-icons prefix"></i>
								<input id="cidade" type="text" class="validate" th:field="*{veiculo}"
									th:errorclass="invalid" /> 
								<label for="cidade">Cidade</label>
							</div>
							<div class="input-field col s6">
								<i class="material-icons prefix"></i>
								<input id="uf" type="text" class="validate"
									th:field="*{veiculo}" th:errorclass="invalid"> <label
									for="uf">UF</label>
							</div>
						</div>
						
						<div class="row">
							<div class="input-field col s6">
								<i class="material-icons prefix"></i><input
									id="logradouro" type="text" class="validate" th:field="*{veiculo}"
									th:errorclass="invalid"> <label for="logradouro">Logradouro</label>
							</div>
							<div class="input-field col s6">
								<i class="material-icons prefix"></i>
								<input id="numero" type="text" class="validate" th:field="*{veiculo}"
									th:errorclass="invalid" /> 
								<label for="numero">Numero</label>
							</div>
							
						</div>
						<div class="row">
							<div class="input-field col s6">
								<i class="material-icons prefix"></i><input
									id="complemento" type="text" class="validate" th:field="*{veiculo}"
									th:errorclass="invalid"> <label for="complemento">Complemento</label>
							</div>
							<div class="input-field col s6">
								<i class="material-icons prefix"></i>
								<input id="bairro" type="text" class="validate" th:field="*{veiculo}"
									th:errorclass="invalid" /> 
								<label for="bairro">Bairro</label>
							</div>
						</div>
					</div>
				<div class="divider"></div>
				<div class="section">
					<h5>Dados do Clube</h5>
					<div class="row">
						<div class="input-field col s5">
							<i class="material-icons prefix"></i> <input id="patente"
								type="text" class="validate" th:field="*{patente.nome}"> <label
								for="patente">Patente</label>
						</div>
						<div class="input-field col s3">
							<i class="material-icons prefix"></i>
							<label for="dataAdmissao">Data de Admissão</label>
						</div>
						<div class="input-field col s3">
							<input id="dataAdmissao" type="date" class="validate"
								th:field="*{dataAdmissao}" th:errorclass="invalid">
						</div>
					</div>
					<div class="row">
						<div class="input-field col s6">
							<i class="material-icons prefix"></i> 
							<input id="sede"
								type="text" class="validate" th:field="*{padrinho}">
								<label for="padrinho">Padrinho</label>
						</div>
						<div class="input-field col s6">
							<select id="sede" th:field="*{sede.nome}">
								<option value="">Selecione a sede</option>
								<option th:each="sede : ${sedes}" th:value="${sede}" th:text="${sede.nome}"></option>
							</select>
							<label for="sede">Sede</label>
						</div>
					</div>
					</div>
				<div>
					<button class="btn waves-effect waves-light" type="submit"
						name="action">
						Salvar <i class="material-icons right"></i>
					</button>
				</div>
			</form>
		</div>
	</div>
	<div layout:fragment="page_actions" id="page_actions">
		<a th:href="@{/membros}" class="waves-effect waves-light btn"><i
			class="material-icons left"></i>Voltar</a>
	</div>

	<script type="text/javascript" layout:fragment="scripts"
		th:src="@{/js/mask.js}"></script>
</body>
</html>