<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layoutPadrao}">
<head>
<title th:text="${status}"></title>
</head>
<body>
	<div layout:fragment="page_content" id="page_content">
		<div>			
			<a class="btn btn-primary" type="button" href="javascript:history.back()">Voltar a página anterior</a>
		</div>
		<div class="row center">
			<h2>Algo deu errado....</h2>				
			<img class="responsive-img" th:src="@{/images/error404.jpg}">
		</div>
		<div class="row">								
			<h2 class="h3 mb-3 font-weight-normal">
				 <i class="material-icons">error</i>  
				<span th:text="${status}"></span>
			</h2>			
			<h2 th:text="${error}"></h2>	
			<span th:text="${message}"></span><br/><br/>		
		</div>
	</div>
</body>
</html>