<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layoutPadrao}">
<head>
<title>Teste</title>
</head>
<body>
	<div layout:fragment="page_content" id="page_content">
	
		<div class="row">
		    <div class="col s12 m6">
		      <div class="card grey lighten-2 darken-1">
		        <div class="card-content white-text">
		          <span class="card-title">Avisos!</span>
		          <p>Aviso a nível mundial.</p>
		        </div>
		        <div class="card-action">
		          <a href="#">Saiba mais...</a>
		        </div>
		      </div>
		    </div>
		    <div class="col s12 m6">
		      <div class="card grey lighten-5 darken-1">
		        <div class="card-content white-text">
		          <span class="card-title">Avisos!</span>
		          <p>Aviso a nível mundial.</p>
		        </div>
		        <div class="card-action">
		          <a href="#">Saiba mais...</a>
		        </div>
		      </div>
		    </div>
	  </div>
  
	
           
		<!--   Icon Section   -->
		<div class="row">
			<div class="col s12 m4">
				<div class="icon-block">
					<h2 class="center">
						<i class="material-icons">location_city</i>
					</h2>
					<h5 class="center">Novas Sedes</h5>
					<canvas id="charSedes" width="400" height="400"></canvas>
				</div>
			</div>

			<div class="col s12 m4">
				<div class="icon-block">
					<h2 class="center">
						<i class="material-icons">group</i>
					</h2>
					<h5 class="center">Novos Membros</h5>
					<canvas id="charMembros" width="400" height="400"></canvas>
				</div>
			</div>

			<div class="col s12 m4">
				<div class="icon-block">
					<h2 class="center">
						<i class="material-icons">settings</i>
					</h2>
					<h5 class="center">Acessos</h5>
					<canvas id="charAcessos" width="400" height="400"></canvas>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col s12 m4">
				<div class="icon-block">
					<h2 class="center">
						<i class="material-icons">event_available</i>
					</h2>
					<h5 class="center">Eventos do Mês</h5>
					<canvas id="charEventos" width="400" height="400"></canvas>
				</div>
			</div>
			
			<div class="col s12 m4">
				<div class="icon-block">
					<h2 class="center">
						<i class="material-icons">delete</i>
					</h2>
					<h5 class="center">Desistências</h5>
					<canvas id="charDesistencia" width="400" height="400"></canvas>
				</div>
			</div>

			
		</div>
	</div>
	

	<th:block layout:fragment="scripts">
		<script>
			var ctxSedes = document.getElementById("charSedes").getContext('2d');
			var ctxMembros = document.getElementById("charMembros").getContext('2d');
			var ctxAcessos = document.getElementById("charAcessos").getContext('2d');
			var ctxEventos = document.getElementById("charEventos").getContext('2d');
			var ctxDesistencia = document.getElementById("charDesistencia").getContext('2d');
			var myChart = new Chart(ctxSedes, {
			    type: 'bar',
			    data: {
			        labels: ["Fortaleza Sul", "Caucaia", "Eusébio"],
			        datasets: [{
			            label: '# de Sedes',
			            data: [9, 15, 13],
			            backgroundColor: [
			                '#73b93d',
			                'rgba(54, 162, 235, 0.2)',
			                'rgba(255, 206, 86, 0.2)',
			                'rgba(75, 192, 192, 0.2)'
			            ],
			            borderColor: [
			                '#1e310f',
			                'rgba(54, 162, 235, 1)',
			                'rgba(255, 206, 86, 1)',
			            ],
			            borderWidth: 1
			        }]
			    },
			    options: {
			        scales: {
			            yAxes: [{
			                ticks: {
			                    beginAtZero:true
			                }
			            }]
			        }
			    }
			});
			
			var myChart02 = new Chart(ctxMembros, {
			    type: 'line',
			    data: {
			        labels: ["Fortaleza Sul", "Caucaia", "Eusébio"],
			        datasets: [{
			            label: '# de Membros',
			            data: [9, 15, 13],
			            
			            borderWidth: 1
			        }]
			    },
			    options: {
			        scales: {
			            yAxes: [{
			                ticks: {
			                    beginAtZero:true
			                }
			            }]
			        }
			    }
			});
			
			var myChart03 = new Chart(ctxAcessos, {
			    type: 'radar',
			    data: {
			        labels: ['Fortaleza', 'São Paulo', 'Piauí', 'Amazonas'],
			        datasets: [{
			            label: '# de Acessos',
			            data: [20, 10, 5, 4],
				        backgroundColor: [
				        	 'rgba(54, 162, 235, 0.2)'
			            ]
			        }]
			    }
			});
			
			var myChart04 = new Chart(ctxEventos, {
			    type: 'pie',
			    data: {
			        labels: ['Fortaleza', 'São Paulo', 'Piauí', 'Amazonas'],
			        datasets: [{
			            label: '# de Acessos',
			            data: [20, 10, 5, 4],
				        backgroundColor: [
				        	 'rgba(54, 162, 235, 0.2)'
			            ]
			        }]
			    }
			});
			
			var myChart05 = new Chart(ctxDesistencia, {
				type: 'line',
			    data: {
			        labels: ["Ceará", "Rio Grande do Norte", "São Paulo", "Curitiba", "Amazonas"],
			        datasets: [{
			            label: '# de Membros',
			            data: [40, 34, 10, 21, 61],
			            
			            borderWidth: 1
			        }]
			    },
			    options: {
			        scales: {
			            yAxes: [{
			                ticks: {
			                    beginAtZero:true
			                }
			            }]
			        }
			    }
			});
		</script>
	</th:block>
</body>
</html>