<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layoutPublico}">
<head>
	<title>Login</title>
</head>
<body>
	<div layout:fragment="page_content" id="page_content">
		<div id="login-page" class="row">
			<div class="col s4"></div>
			<div class="col s4 z-depth-4 card-panel hoverable">
				<form class="login-form" th:action="@{/login}" method="post">				
				  <div class="row">
				    <div class="input-field col s12 center">
				      <img src="images/logo_abutres.png" width="180px" alt="" class="circle responsive-img valign profile-image-login">
				      <p class="center login-form-text">AbutresNet</p>
				    </div>
				  </div>
				  <div class="row">
				    <div class="input-field col s12">
				      	<i class="material-icons prefix">person</i>
	                	<input placeholder="Usuário" id="username" type="text" class="validate">			      
				     	<label for="username" class="center-align">Username</label>
				    </div>
				  </div>
				  <div class="row margin">
				    <div class="input-field col s12">
				      <i class="material-icons prefix">lock</i>
				      <input id="password" type="password" name="password" class="form-control" placeholder="Senha"/>
				      <label for="password">Password</label>
				    </div>
				  </div>
				  <div class="row">          
				    <div class="input-field col s12 m12 l12  login-text">
				        <input type="checkbox" id="remember-me" name="remember-me" />
				        <label for="remember-me">Me lembra!</label>
				    </div>
				  </div>
				  <div th:if="${param.error}" class="row">
			          Invalid username and password.
			      </div>
			      <div th:if="${param.logout}" class="row">
			          You have been logged out.
			      </div>
				  <div class="row">
				    <div class="input-field col s12">
				    	<button class="btn waves-effect waves-light col s12" type="submit" name="action">Entrar</button>
				    </div>
				  </div>
				  <div class="row">
				    <div class="input-field col s6 m6 l6">
				      <p class="margin medium-small"><a href="page-register.html">Solicitar Acesso</a></p>
				    </div>
				    <div class="input-field col s6 m6 l6">
				        <p class="margin right-align medium-small"><a href="page-forgot-password.html">Esqueceu a senha ?</a></p>
				    </div>          
				  </div>				
				</form>
			</div>
			<div class="col s4"></div>
	  </div>
  </div>
</body>
</html>